.bg-black {
  background: #000;
  color: #fff; }

#myheader img {
  width: 100%;
  height: 100%; }

.port-item {
  width: 30%; }
  .port-item .fa {
    font-size: 2em; }

.port-item:hover {
  opacity: 0.9;
  cursor: pointer; }

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important; } }

body {
  background-color: lightgray; }

.bg-violet {
  color: purple; }

.bg-navy {
  color: navy; }
